body{
	background:  linear-gradient(to top, #FF69B4, #F08080);
}
a {text-decoration: none; }
@font-face {
    font-family: NexaScript-Light; /* Гарнитура шрифта */
    src: url(fonts/19442.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: Pecita; /* Гарнитура шрифта */
    src: url(fonts/20180.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: Honey; /* Гарнитура шрифта */
    src: url(fonts/20190.otf); /* Путь к файлу со шрифтом */
   }
h1{
	color: white;
	font-family: Pecita;
	padding: 20px;
	box-shadow: 0em 0.5em 15px rgba(80, 50, 100, 0.4);
	text-shadow: 0em 0.1em 10px rgba(0, 0, 0, 0.5);
	font-size: 40px;
}
h2{
	background:  linear-gradient(to top, rgba(255, 20, 147, 0.4), rgba(80, 50, 100, 0));
	color: white;
	font-family: NexaScript-Light;
	padding: 20px;
	box-shadow: 0em 0.5em 7px rgba(80, 50, 100, 0.4);
	text-shadow: 0em 0.1em 10px rgba(0, 0, 0, 0.5);
	font-size: 30px;
}
.img{
display: none;
}
#header, .header{
	width: 80%;
	margin: 30px auto;
	transition: 0.7s; /* Время эффекта */
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
	height:50%;
	padding:30px 25px 20px;
	position:relative;
	color:white;
}
#content, .content{
	background:  linear-gradient(to top, rgba(80, 50, 100, 0), rgba(255, 20, 147, 0.4));
	width: 70%;
	margin: 30px auto;
	transition: 0.7s; /* Время эффекта */
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
	height:100%;
	padding:25px 25px 20px;
	position:relative;
	color:white;
	box-shadow: 0em -1em 10px rgba(80, 50, 100, 0.1);
	text-shadow: 0em 0.1em 10px rgba(0, 0, 0, 0.5);
}
#panel_warning, .panel_warning {
	display: none;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	backdrop-filter:blur(20px);
	position:fixed;
	color:white;
	text-shadow: 0em 0.1em 10px rgba(0, 0, 0, 0.5);
	z-index: 999;
	left:0;
	top:0;
}
.c-button {
	appearance: none;
	border: 0;
	border-radius: 1000px;
	background: rgba(255, 20, 147, 0.7);
	color: #fff;
	padding: 15px 15px 10px;
	transition: 0.5s; /* Время эффекта */
}
.c-button:hover { 
	cursor: pointer;
	background: pink;
	transform: scale(1.03); /* Увеличиваем масштаб */
}

.c-button:focus {
	outline: none;
	box-shadow: 0 0 0 2px black;
} 
hr{
	border: none; /* Убираем границу для браузера Firefox */
	color: #CD5C5C; /* Цвет линии для остальных браузеров */
	background-color: rgba(255, 20, 147, 0.3); /* Цвет линии для браузера Firefox и Opera */
	height: 5px; /* Толщина линии */
	border-radius: 50px; 
}
@keyframes pulse {
  from {
    transform: scale(.9);
  }
  30% {
    transform: scale(1);
  }
  to {
    transform: scale(.9);
  }
}

@keyframes beat {
    0% {transform: scale(1) rotate(225deg); box-shadow:0 0 40px #d5093c;}
    50% {transform: scale(1.1) rotate(225deg); box-shadow:0 0 70px #d5093c;}
    100% {transform: scale(1) rotate(225deg); box-shadow:0 0 40px #d5093c;}
}
#chest {
    position:relative;
    width:500px;
    height:500px;
    margin:-70px auto;
}
.heart {
    position:absolute;
    z-index:2;
    background: -moz-linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);
    background: -webkit-gradient(linear, right 50%, left 50%, color-stop(0%,#F50A45), color-stop(40%,#d5093c));
    background: -webkit-linear-gradient(-90deg, #F50A45 0%,#d5093c 40%);
    background: linear-gradient(-90deg, #F50A45 0%,#d5093c 40%);
    -webkit-animation: beat 0.7s ease 0s infinite normal;
    -moz-animation: beat 0.7s ease 0s infinite normal;
    animation: beat 0.7s ease 0s infinite normal;
}
.heart.center {
    background: -moz-linear-gradient(-45deg, #B80734 0%, #d5093c 40%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#B80734), color-stop(40%,#d5093c));
    background: -webkit-linear-gradient(-45deg, #B80734 0%,#d5093c 40%);
    background: linear-gradient(-45deg, #B80734 0%,#d5093c 40%);
}
.heart.top {
    z-index:3;
}
.side {
    top:100px;
    width:220px;
    height:220px;
    border-radius: 220px;
}
.center {
    width:210px;
    height:210px;
    bottom:100px;
    left:145px;
    font-size:0;
    text-indent:-9999px;
}
.left {
    left:62px;
}
.right {
    right:62px;
}